In [1]:
import os
import numpy as np
import torchaudio
import pandas as pd
import glob

In [2]:
# torchaudio.datasets.LIBRISPEECH(root= , url = 'train-clean-100', download=True)

In [3]:
#f = open('/cas/DeepLearn/elperu/tmp/speech_datasets/LibriSpeech/README.TXT', 'r')
#readme = f.readlines()
#readme

## Dataset structure
100 hours of speech, different speakers reads chapters of books

base_path|
        - speaker_id_1|
                        - ch_1
                        - ch_2
        - speaker_id_2|
        ...
        
        
Average duration abuot 10 s per utterance


Collect 20 utterance per speaker and use it for training

### Analyze dataset

In [4]:
dataroot = '/cas/DeepLearn/elperu/tmp/speech_datasets/LibriSpeech/train-clean-100/'

In [5]:
speakers = os.listdir(dataroot)
print(f'Number of speaker: {len(speakers)}')

Number of speaker: 251

In [26]:
tot_rows = []

n_utterances_per_spk = 40
for speaker in speakers:
    chapters = os.listdir(os.path.join(dataroot, speaker))
    
    utterances = []
    for ch in chapters:
        for i in glob.glob(os.path.join(dataroot, speaker, ch, '*.flac')):
            utterances.append(i)
        
    if len(utterances) < n_utterances_per_spk:
        print(f'Speaker: {speaker} less than {n_utterances_per_spk} utterances, skipped')
        continue
        
    for utter in utterances[:n_utterances_per_spk]:
        tot_rows.append([speaker, ch, os.path.abspath(os.path.join(dataroot, speaker, ch, utter))])

Speaker: 7312 less than 40 utterances, skipped

In [27]:
df = pd.DataFrame(tot_rows, columns=['spk_id', 'ch_id', 'utter_path'])

In [28]:
df

     spk_id   ch_id                                         utter_path
0       374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
1       374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
2       374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
3       374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
4       374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
...     ...     ...                                                ...
9995   4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
9996   4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
9997   4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
9998   4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
9999   4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...

[10000 rows x 3 columns]

In [29]:
out_path = '/cas/DeepLearn/elperu/tmp/speech_datasets/LibriSpeech/'
df.to_csv(os.path.join(out_path, 'dataset_info.csv'), index=False)

In [30]:
g = pd.read_csv(os.path.join(out_path, 'dataset_info.csv'))

In [31]:
g

      spk_id   ch_id                                         utter_path
0        374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
1        374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
2        374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
3        374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
4        374  180299  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
...      ...     ...                                                ...
9995    4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
9996    4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
9997    4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
9998    4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...
9999    4640   19187  /cas/DeepLearn/elperu/tmp/speech_datasets/Libr...

[10000 rows x 3 columns]

In [2]:
import pickle

In [3]:
a = pd.read_csv('/cas/DeepLearn/elperu/tmp/speech_datasets/LibriSpeech/train_info.csv')

In [7]:
count = 0
for i in range(len(a)):
    tmp = a.iloc[0]['feature_path']
    with open(tmp, 'rb') as f:
        h = pickle.load(f)
        
    feature = h['feat']
    start_sec, end_sec = 0.5, 0.5
    start_frame = int(start_sec / 0.01)
    end_frame = len(feature) - int(end_sec / 0.01)
    ori_feat = feature
    feature = feature[start_frame:end_frame,:]
    
    assert(len(feature) > 40)

In [8]:
t = '/cas/DeepLearn/elperu/tmp/speech_datasets/LibriSpeech/train_features/1183/1183-124566-0005.p'

In [9]:
with open(t, 'rb') as f:
    h = pickle.load(f)

In [13]:
len(h['feat'][start_frame:end_frame,:])

90

In [5]:
count

0

In [12]:
feature = h['feat']

In [13]:
start_sec, end_sec = 0.5, 0.5
start_frame = int(start_sec / 0.01)
end_frame = len(feature) - int(end_sec / 0.01)
ori_feat = feature
feature = feature[start_frame:end_frame,:]

In [15]:
len(feature)

1195